#main-inv{
    display: flex;
    width: 100%;
}

#inv{
    min-width: 300px;
    width: 100%;
    height: 100%;
    max-width: 600px;
    position: relative;
}

.nav{
    margin: 150px;
}

.skin{
    position: absolute;
    height: 41%;
    width: 28%;
    top: 5%;
    left: 15%;
}

.skin img{
    margin: auto;
    margin-top: 7%;
    display: flex;
    width: auto;
    height: 90%;
}

.slot{
    position: absolute;
    text-align: center;
    image-rendering: pixelated;
    width: 9%;
    height: 9%;
}

.slot img{
    width: 90%;
}



p.count{
    margin-block-start: -24px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}

div#player-stat{
    margin: 0px 50px;
    columns: 3;
}
