<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<canvas id="myChart" style="width:100%;max-width:1200px"></canvas>

<script>
const xValues = ["2", "2"];
const yValues = ["2"];
const labels = ["1"];
const test = ["rgba(255,0,0,1.0)","rgba(0,0,255,1.0)",];
const color = ["red"];
const chartConfig = {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(255,0,0,1.0)",
      borderColor: "rgba(0,0,255,0.5)",
      pointBackgroundColor: color,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 0, max:5}}],
    },
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
          return ''; // Utilisez l'index pour récupérer l'étiquette correspondante
        },
        title: function(tooltipItem, data) {
          chartConfig.currentIndex = tooltipItem[0].index; // Stockez l'index dans chartConfig
          return labels[chartConfig.currentIndex][1]; // Retourne une chaîne vide pour le titre (abscisse)
        },
        afterLabel: function(tooltipItem, data) {
          return labels[chartConfig.currentIndex][0]; // Utilisez l'index stocké
        }
      }
    }
  }
};

new Chart("myChart", chartConfig);

</script>

</body>
</html>
