<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
        <script src="https://d3js.org/d3.v4.js"></script>
        <title>Stat</title>
    </head>

    <body>
        <div id="all">
            <div id="main">
                <h2>{{stat}}</h2>
                <div id="b1">
                    <svg id="myPlot"></svg>
                    <div id="info-list"></div>
                </div>
                <script>
                    const date = {{ date|tojson }};
                </script>

                <div>
                    <button onclick="navigate(-1)" class="btn">Jour précédent</button>
                    <button onclick="navigate(1)" class="btn">Jour suivant</button>
                    <button class="btn" id="dezoom_graph">Dézommer</button>
                    <form>
                        <p>
                            <input type="date" name="date" id="nom" class="btn">
                            <input type="submit" value="envoie" class="btn">
                        </p>
                    </form>
                </div>
            </div>
            <div id="b2"></div>
        </div>


        <script>
            function navigate(offset) {
                var currentDate = new Date('{{ date }}');
                var nextDate = new Date(currentDate);
                nextDate.setDate(currentDate.getDate() + offset);

                // Construire manuellement la chaîne de date au format "YYYY-MM-DD"
                var year = nextDate.getFullYear();
                var month = String(nextDate.getMonth() + 1).padStart(2, '0');
                var day = String(nextDate.getDate()).padStart(2, '0');
                var isoDate = year + '-' + month + '-' + day;

                // Rediriger vers l'URL avec la nouvelle date
                window.location.href = "{{ url_for('test') }}?date=" + isoDate;
            }
        </script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
