<!DOCTYPE html>
<html lang="en">
    <head>
        {%include 'headers.html'%}
        <title>Inventaire</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {%include 'nav.html'%}
        <h1>Inventaire</h1>
        <p>{{nom}}</p>
        <div id="main-inv">
            <div id="inv">
                <img style="width: 100%; image-rendering: pixelated;" src="{{url_for('static', filename='img/inventaire.png')}}">
                <div class="skin" id="skin"></div>
                <div class="slot" id="slot106" style="top: 309px; left: 248px;"></div>
                <script>

                    const skin = document.getElementById("skin");
                    const skinIMG = document.createElement("img");

                    skinIMG.src = " {{skin_url}} ";
                    skin.appendChild(skinIMG);

                    const espace_x = 10.20
                    const espace_y = 10.75
                    const frame = document.getElementById("inv");

                    // Armure
                    for (let i=0; i<4; i++){
                        var ele = document.createElement("div");
                        ele.id = "slot" + (103-i);
                        ele.className = "slot";
                        ele.style.top = (5+i*espace_y) + "%";
                        ele.style.left = "4.5%";
                        frame.appendChild(ele);
                    }

                    // Craft
                    for (let i=0; i<2; i++){
                        for (let j=0; j<2; j++){
                            var ele = document.createElement("div");
                            ele.id = "slot" + ((i+1)+(j*2)+79);
                            ele.className = "slot";
                            ele.style.top = (11 + espace_y * j) + "%";
                            ele.style.left = (55.5 + espace_x * i) + "%";
                            frame.appendChild(ele);
                        }
                    }

                    // Inventaire
                    for (let i=0; i<9; i++){
                        for (let j=0; j<3; j++){
                            var ele = document.createElement("div");
                            ele.id = "slot" + ((i+1)+(j*9) + 8);
                            ele.className = "slot";
                            ele.style.top = (50.5 + espace_y * j) + "%";
                            ele.style.left = (4.5 + espace_x * i) + "%";
                            frame.appendChild(ele);
                        };

                        // Hotbar
                        var ele = document.createElement("div");
                            ele.id = "slot" + (i);
                            ele.className = "slot";
                            ele.style.top = "85%";
                            ele.style.left = (4.5 + espace_x * i) + "%";
                            frame.appendChild(ele);
                    };


                </script>
            </div>
            <div id="player-stat"></div>
        </div>
        <script>

            for (let i of {{inv|safe}} ){
                const slot = document.getElementById("slot"+i[1]);


                let imageURL = "{{ url_for('static', filename='img/items_1.20.1') }}" + "/" + i[0] + ".png";
                console.log(i[3])
                if (i[3]){
                    imageURL = "{{ url_for('enchante', img='') }}" + i[0];
                    console.log(i[0])
                }
                console.log(imageURL)

                // slot.style.background = 'url(' + imageURL + ') no-repeat top left';
                var image = document.createElement("img");
                image.src = imageURL;
                slot.appendChild(image);
                if (i[2] > 1){
                    var count = document.createElement("p");
                    count.textContent = i[2];
                    count.classList.add("count");
                    slot.appendChild(count);
                }

            };
        </script>

    </body>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/joueur.js') }}"></script>
</html>